.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 828px;
    background: linear-gradient(180deg, rgba(18, 25, 32, 0.00)  -200%, #121920 100%), url(./../img/header/bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 37px;
}


.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.top__phone {
    width: 15px;
    height: 25px;
}
.top-phone span {
    font-weight: 300;
}



